---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import MissionStatement from "../components/MissionStatement.astro";
import Podcast from "../components/Podcast.astro";
import ProgramGrid from "../components/ProgramGrid.astro";
import VendorVoices from "../components/VendorVoices.astro";
import VendorApplyForm from "../components/VendorApplyForm.astro";
import HowToHelp from "../components/HowToHelp.astro";
import AboutFoundation from "../components/AboutFoundation.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
---
<BaseLayout>
  <Nav />
  <main id="main">
    <Hero />
    <MissionStatement />
    <Podcast />
    <ProgramGrid />
    <VendorVoices />
    <VendorApplyForm />
    <AboutFoundation />
    <HowToHelp />
    <FAQ />
  </main>
  <Footer />
</BaseLayout>
